/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Police*/
@font-face{
    font-family: "Roboto";
    src: url(polices/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "Roboto Bold";
    src: url(polices/Roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face{
    font-family: "Shrikhand";
    src: url(polices/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}

body{
    font-family: "Roboto";
}
h1, h2{
    font-family: "Roboto Bold";
}
b{
    font-family: "Roboto Bold";
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
body{
    background-color: #f6f6f6;
}

/*HEADER*/
.logo{
    width: 100%;
    padding: 20px 0;
    position: relative;
}
.logo .fas{
    float: left;
    font-size: 25px;
    top: 24px;
    left: 10px;
    position: absolute;
}
.logo img{
    display: block;
    margin: 0px auto;
}
.lapalette img{
    width: 100%;
    object-fit: cover;
}
.lanote img{
    width: 100%;
    object-fit: cover;
    height: 277px;
}
.ledelice img{
    width: 100%;
    object-fit: cover;
}
.lafrancaise img{
    width: 100%;
    object-fit: cover;
}
/*MAIN*/
main{
    background-color: #f6f6f6;
    width: 100%;
    padding: 40px 0 20px 0;
    margin-bottom: 0;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -55px;
}
main h3{
    margin: 35px 0 5px 20px;
    
}
.titre{
    display: flex;
    justify-content: space-between;
}
.titre .fas{
    margin-right: 25px;
    font-size: 25px;
    -webkit-text-fill-color: #f6f6f6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.titre .fas:hover{
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0;
    transition: 500ms;
}
.titre h2{
    font-family: "Shrikhand";
    font-size: 25px;
    margin-left: 10px;
}
.vignette{
    width: 90%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    padding: 15px 0 15px 15px;
    border-radius: 20px;
    box-shadow: 0 5px 5px #cfcfcf;
}
.vignette h4{
    margin-bottom: 5px;
}
.vignette p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.barre{
    width: 40px;
    height: 3px;
    background-color: #99E2D0;
    margin-left: 20px;
    margin-bottom: 20px;
}
.flexprix{
    display: flex;
    justify-content: space-between;
}
.prix{
    margin-right: 15px;
}
.entrees{
    animation: slideDown 2s;
}
.plats{
    animation: slideDown 3s;
}
.dessert{
    animation: slideDown 4s;
}


@keyframes slideDown {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/*CHECK CIRCLE*/
.check .fas{
    float: right;
}
.check{
    position: absolute;
    display: block;
    width: 20%;
    background-color: #99E2D0;
    height: 37px;
    padding: 15px;
    border-radius: 0 20px 20px 0;
}


/*BOUTTON*/
main button{
    display: block;
    margin: 70px auto 0 auto;
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: #FFF;
    border-style: none;
    box-shadow: 0 5px 5px #cfcfcf;
    cursor: pointer;
    transition: .3s;
}
main button:hover{
    opacity: 0.9;
    box-shadow: 0 7px 7px #969696;
}




/*FOOTER*/
footer{
    background-color: #353535;
    color: #FFF;
    padding: 20px 0 10px 10px;
}
.fa-hands-helping{
    font-size: 11px;
}
.footerlogo{
    font-family: "Shrikhand";
    display: block;
    margin: 10px 0 20px 10px;
}
.footer{
    margin: 5px 10px;
}






@media screen and (min-width: 768px){
    .lapalette img{
        height: 500px;
    }
    .lanote img{
        height: 500px;
    }
    .ledelice img{
        height: 500px;
    }
    .lafrancaise img{
        height: 500px;
    }
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .button{
        width: 100%;
    }
    .titre{
        width: 100%;
    }
    .titre h2{
        margin-bottom: 30px;
    }
    .entrees{
        width: 33%;
    }
    .plats{
        width: 33%;
    }
    .dessert{
        width: 33%;
    }
    footer{
        text-align: center;
    }
}