/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Police*/
@font-face{
    font-family: "Roboto";
    src: url(polices/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "Roboto Bold";
    src: url(polices/Roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face{
    font-family: "Shrikhand";
    src: url(polices/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}

body{
    font-family: "Roboto";

}
header, main, footer{
    animation: opacityBody 2s;
}
h1, h2{
    font-family: "Roboto Bold";
}
b{
    font-family: "Roboto Bold";
}
a{
    text-decoration: none;
    color: black;
    outline: 0;
}
a:visited{
    color: black;
}
.mailto{
    color: #FFF;
}

/*HEADER*/
.logo{
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 3px 3px #cfcfcf;
    position: relative;
}
.logo img{
    display: block;
    margin: 0px auto;
}
.localisation{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #eaeaea;
    padding: 15px 0;
}
.localisation .fas{
    margin-right: 10px;
}
.reservez{
    width: 100%;
    background-color: #f6f6f6;
    margin-top: 0;
    text-align: center;
    padding: 20px 0;
}
.reservez h1{
    font-size: 25px;
    margin: 10px 0 0 0;
    padding: 10px 40px;
}
.reservez p{
    padding: 10px 10px;
    font-size: 20px;
    color: #7d7d7d;
}
.reservez button{
    margin: 20px 0 40px 0;
    padding: 15px;
    font-size: 20px;
    border-radius: 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: #FFF;
    border-style: none;
    box-shadow: 0 5px 5px #cfcfcf;
    cursor: pointer;
    transition: .3s;
}
.reservez button:hover{
    opacity: 0.9;
    box-shadow: 0 7px 7px #969696;
}

/*FONCTIONNEMENT*/
.fonctionnement{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.fonctionnement h2{
    font-size: 25px;
    margin: 40px 20px;
}
.fonctionnement__vignette{
    display: flex;
}
.chiffre{
    background-color: #9356DC;
    color: #FFF;
    border-radius: 50%;
    height: 20px;
    width: 25px;
    text-align: center;
    position: relative;
    left: 12px;
    top: 27px;
    padding-top: 5px;
}
.fonctionnement__vignette--titre {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    width: 90%;
    margin: 10px 20px 10px auto;
    padding: 20px 0;
    border-radius: 20px;
    box-shadow: 0 5px 5px #cfcfcf;
}
.fonctionnement__vignette--titre:hover{
    background-color: #f5edff;
}
.fonctionnement__vignette--titre:hover .fas{
    color: #9356DC;
}
.fonctionnement__vignette--titre .fas{
    position: relative;
    left: -35px;
    color: grey;
}



/*RESTAURANTS*/
.restaurants{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    margin-top: 55px;
    padding-bottom: 50px;
}
.restaurants h2{
    font-size: 25px;
    margin: 40px 10px 20px 20px;
}
.restaurants img{
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0 0;
}
.restaurants h3, .restaurants p{
    margin: 10px;
}
.restaurants__vignette{
    width: 90%;
    margin: 10px auto;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0 5px 5px #cfcfcf;
}
.restaurants__vignette .far{
    position: relative;
    float: right;
    right: 20px;
    top: -19px;
    font-size: 21px;
}
.restaurants__vignette .fas{
    position: relative;
    float: right;
    right: 20px;
    top: -19px;
    font-size: 21px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.restaurants__vignette .fas:hover{
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0;
    transition: 500ms;
}
.restaurants__vignette--nouveau{
    position: relative;
    float: right;
    top: -162px;
    right: 25px;
    color: #008766;
    background-color: #99e2d0;
    padding: 10px;
    border-radius: 3px;
}

/*FOOTER*/
footer{
    background-color: #353535;
    color: #FFF;
    padding: 20px 0 10px 10px;
}
.footer .fas{
    padding: 2px;
}
.fa-hands-helping{
    font-size: 11px;
}
.footerlogo{
    font-family: "Shrikhand";
    display: block;
    margin: 10px 0 20px 10px;
}
.footer{
    margin: 5px 10px;
}


/*LOADING*/
.loading{
    width: 100%;
    display: flex;
    justify-content: center;
}
.loading__loader{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50px;
    border: 6px solid rgba(0, 0, 0, 0.4);
    z-index: 1;
    animation: opacity 2s forwards;
    top: 250px;
}
.loading__loader:after{
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    animation: spin 1s linear 0s infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);

    }
}
@keyframes opacity{
    0%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes opacityBody{
    0%{
        opacity: 0.2;
    }
    99%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}




@media screen and (min-width: 768px)
{
    .fonctionnement{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .fonctionnement h2{
        width: 100%;
    }
    .fonctionnement__vignette--titre{
        height: 150px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .fonctionnement__vignette--titre span{
        font-size: 20px;
    }
    .fonctionnement__vignette--titre .fas{
        position: inherit;
        margin-bottom: 40px;
        font-size: 25px;
    }
    .fonctionnement__vignette{
        flex-direction: column;
        width: 30%;
    }
    .chiffre{
        top: 0;
        left: 0;
        margin: 0 auto;
    }
    .restaurants{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .restaurants__vignette{
        width: 20%;
    }
    .restaurants h2{
        width: 100%;
    }
    .restaurants h3{
        width: 70%;
    }
    footer{
        text-align: center;
    }
}